/nbproject/
/nbproject/private/
/vendor/
/Conception/Dia/Diagramme_UML_MyBooks_v1.dia~
/Conception/Dia/Diagramme_UML_MyBooks_v1.dia.autosave
/Conception/Schema_model_DB/Schema_model_MyBooks_DB_v01.mwb.bak