{#
/**
 * View index
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Baptiste Pesquet 
 */
#}
{% extends "layout.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% for book in books %}
<article>
    <h1><a class="bookTitle" href="{{ path('book', {'id': book.id}) }}">{{ book.title }}</a></h1>
    <p>{{ book.summary }}</p>
</article>
{% endfor %}
{% endblock %}