{#
/**
 * MicroCMS
 * =========================================================================================================
 *
 * Template Vue index - Itération 7 du projet
 * 
 * @author          Christophe Malo
 * @started         01/03/2016
 * @updated         02/03/2016
 * @version         1.0.3
 * @copyright       OpenClassrooms - Baptiste Pesquet        
 * @project         MicroCMS
 * @namefile        index.html.twig
 * @phpversion      5.6.10
 * @htmlversion     HTML5
 * @cssversion      CSS3
 * @jqueryversion   
 * 
 * @commentaire     v1.0.1 -> Utilisation de Twig
 *                  v1.0.2 -> Utilisation de bootstrap et jQuery
 *                  v1.0.3 -> Utilisation de l'héritage de template 
 */
#}
{% extends "layout.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% for book in books %}
<article>
    <h1>{{ book.title }}</h1>
    <p>{{ book.summary }}</p>
</article>
{% endfor %}
{% endblock %}